@import "vars";
@import "mixins";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
a {
    text-decoration: none;
    font-family: Lato;
}

.center {
    @include contenCenter();
}

.header__content {
    margin-top: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    &__left {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__left.logo {
        width: 33.998px;
        height: 34px;
        flex-shrink: 0;
    }
    &__left.title {
        @include titleText();
        font-size: 40px;
        line-height: 125%;
    }
    &__right {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 48px;
    }
    &__right.link {
        color: #292f36;
        text-align: center;
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        /* 25px */
    }
}

.main__top {
    margin-top: 65px;
    &__top-div {
        background: url(img/main_top_background.png), lightgray 50% / cover no-repeat;
        height: 755px;
        display: flex;
        align-items: center;
        border-radius: 60px;
        padding-left: 44px;
        &__content {
            max-width: 434px;
        }
        &__content.title {
            @include titleText();
            font-size: 65px;
            line-height: 125%;
            margin-bottom: 18px;
        }
        &__content.description {
            @include contentText();
            font-size: 22px;
            line-height: 150%;
            /* 33px */
            letter-spacing: 0.22px;
            margin-bottom: 21px;
        }
        &__content.button {
            color: #fff;
            text-align: center;
            font-family: Jost;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 125%;
            /* 22.5px */
            letter-spacing: 0.36px;
            display: flex;
            padding: 26px 49px 26px 48px;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 18px;
            background: #292f36;
            box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
            cursor: pointer;
        }
    }
    &__center-div {
        margin-top: 93px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title {
            @include titleText();
            font-size: 50px;
            line-height: 125%;
            /* 62.5px */
            letter-spacing: 1px;
        }
        &__description {
            @include contentText();
            text-align: center;
            line-height: 150%;
            /* 33px */
            letter-spacing: 0.22px;
            max-width: 737px;
        }
    }
    &__bottom-div {
        margin-top: 93px;
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: repeat(auto-fit, minmax(547px, 1fr));
        gap: 56px 104px;
        &__card {
            width: 547px;
            height: 619px;
            &__top-part {
                width: 547px;
                height: 525px;
            }
            &__top-part.card1 {
                background: url(img/main_center_card1.png), lightgray 50% / cover no-repeat;
                border-radius: 0px 60px 0px 0px;
            }
            &__top-part.card2 {
                background: url(img/main_center_card2.png), lightgray 50% / cover no-repeat;
                border-radius: 60px 0px 0px 0px;
            }
            &__top-part.card3 {
                background: url(img/main_center_card3.png), lightgray 50% / cover no-repeat;
                border-radius: 0px 0px 60px 0px;
            }
            &__top-part.card4 {
                background: url(img/main_center_card4.png), lightgray 50% / cover no-repeat;
                border-radius: 0px 0px 0px 60px;
            }
            &__bottom-part {
                display: flex;
                flex-flow: row;
                align-items: center;
                justify-content: space-between;
                margin-top: 24px;
                &__text-box.title {
                    @include titleText();
                    font-size: 25px;
                    line-height: 125%;
                    /* 31.25px */
                    letter-spacing: 0.5px;
                }
                &__text-box.description {
                    @include contentText();
                    font-size: 22px;
                    line-height: 150%;
                    /* 33px */
                    letter-spacing: 0.22px;
                }
            }
        }
    }
}

.main__center {
    margin-top: 96px;
    padding-top: 151px;
    padding-bottom: 151px;
    background-color: #f4f0ec;
    &__content {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        &__box {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            padding-right: 56px;
            border-right: 1px solid $siteMainCenterNumbersColor;
            &__number {
                @include numbersText();
            }
            &__description {
                @include contentText();
                font-size: 22px;
                line-height: 150%;
                /* 33px */
                letter-spacing: 0.22px;
            }
        }
        &__box:last-child {
            border: none;
            padding-right: 0px;
        }
    }
}

.main__bottom {
    &__heading {
        margin-top: 93px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title {
            @include titleText();
            font-size: 50px;
            line-height: 125%;
            /* 62.5px */
            letter-spacing: 1px;
        }
        &__description {
            @include contentText();
            text-align: center;
            line-height: 150%;
            /* 33px */
            letter-spacing: 0.22px;
            max-width: 737px;
        }
    }
    &__content {
        margin-top: 52px;
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: repeat(auto-fit, minmax(381px, 1fr));
    }
    &__content-card {
        border-radius: 62px;
        border: 1px solid #e7e7e7;
        box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
        padding: 21px;
        max-width: 381px;
        max-height: 521px;
        &__top {
            display: flex;
            align-items: flex-end;
            &__description-box {
                margin-left: 20px;
                margin-bottom: 20px;
                border-radius: 8px 8px 8px 0px;
                background-color: white;
                height: 41px;
                flex-shrink: 0;
            }
            &__description-box.description {
                @include contentText();
                font-size: 16px;
                line-height: 150%;
                /* 24px */
                letter-spacing: 0.16px;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                margin: 0px;
                padding: 10px;
            }
        }
        &__top.card1 {
            background: url(img/main_bottom_card1.png), lightgray 50% / cover no-repeat;
            width: 340px;
            height: 290px;
            border-radius: 62px 62px 0px 0px;
        }
        &__top.card2 {
            background: url(img/main_bottom_card2.png), lightgray 50% / cover no-repeat;
            width: 340px;
            height: 290px;
            border-radius: 62px 62px 0px 0px;
        }
        &__top.card3 {
            background: url(img/main_bottom_card3.png), lightgray 50% / cover no-repeat;
            width: 340px;
            height: 290px;
            border-radius: 62px 62px 0px 0px;
        }
        &__title {
            margin-top: 21px;
            font-size: 25px;
            line-height: 125%;
            /* 31.25px */
            letter-spacing: 0.5px;
        }
        &__bottom-part {
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            &__text-box {
                &__date {
                    @include contentText();
                    font-size: 16px;
                    line-height: 150%;
                    /* 24px */
                    letter-spacing: 0.16px;
                    text-transform: capitalize;
                }
            }
        }
    }
    &__content-card:nth-child(2n) {
        background-color: #f4f0ec;
    }
}

footer {
    padding-bottom: 134px;
}

.footer__content {
    margin-top: 96px;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, 393px 125px 120px 258px);
    gap: 101px;
    &__column {
        &__title {
            @include titleText();
            font-size: 25px;
            line-height: 125%;
            /* 31.25px */
            &__box {
                display: flex;
                align-items: center;
                flex-direction: row;
                gap: 10px;
            }
            &__box.logo {
                width: 33.998px;
                height: 34px;
                flex-shrink: 0;
            }
            &__box.title {
                @include titleText();
                font-size: 40px;
                line-height: 125%;
            }
        }
        &__title.column2 {
            margin-bottom: 9px;
        }
        &__description {
            margin-top: 18px;
            @include contentText();
            font-size: 22px;
            line-height: 150%;
            /* 33px */
            letter-spacing: 0.22px;
        }
        &__social {
            margin-top: 30px;
            display: flex;
            gap: 54px;
            &__twitter {
                width: 20px;
                height: 15px;
            }
            &__linkedin {
                width: 17px;
                height: 15px;
            }
        }
        &__navigation {
            display: flex;
            flex-direction: column;
        }
        &__navigation.link {
            @include contentText();
            font-size: 22px;
            line-height: 300%;
            /* 66px */
            letter-spacing: 0.22px;
        }
        &__title.column4 {
            margin-bottom: 26px;
        }
        &__contacts {
            @include contentText();
            font-size: 22px;
            line-height: 150%;
            /* 33px */
            letter-spacing: 0.22px;
        }
        &__contacts.mail {
            line-height: 380%;
        }
    }
}